<h1> Welcome to the Interesting People Page!! </h1>
<div id="app">
  <div v-for="person in people">
    <h3> {{ person.name }} </h3>
    <p v-if="person.bioVisible"> {{ person.bio }} </p>
  </div>
</div>


